{% extends "base.html" %}
{% block title %}Agregar Perfume{% endblock %}
{% block content %}
<h2>Agregar Nuevo Perfume</h2>
<form method="post">

    <input type="text" name="nombre" placeholder="Nombre" required><br>
    <input type="text" name="marca" placeholder="Marca" required><br>
    <input type="number" step="0.01" name="precio" placeholder="Precio" required><br>
    <textarea name="descripcion" placeholder="Descripción" rows="4" cols="40"></textarea><br>

    <button type="submit">Guardar Perfume</button>
</form>
{% endblock %}
